.carousel-arrow {
    position: absolute;
    top: calc(50% - 2rem);
    font-size: 3rem;
    z-index: 1;
    color: #fff
}

.carousel-arrow:hover {
    color: blue;
}
  
.right-arrow {
right: 20px;
}

.left-arrow {
left: 20px;
}
